{% extends "layout.html" %}
{% block content %}
<div class="container text-center container-center">
    <h1>@ちゃんねる</h1>

    <form action="/thread" method="post" class="my-4">
        <label for="thread">新しいスレッドを立てる</label>
        <input type="text" name="thread" class="form-control my-2" required minlength="1" maxlength="80">
        <button type="submit" class="btn btn-primary">作る</button>
    </form>

    <h2>スレッド一覧</h2>
    <div class="thread-list-box">
        {% for thread in threads: %}
            {% if thread.threadname %}
            <form action="/thread" method="post" class="form-spacing">
                <input type="hidden" name="thread" value="{{ thread.threadname }}">
                <button type="submit" class="btn btn-secondary btn-block w-100 thread-button">{{ thread.threadname }}</button>
            </form>
            {% endif %}
        {% endfor %}
    </div>

    <h2>人気</h2>
    <div class="carousel-container">
        <div class="carousel-wrapper" id="carouselWrapper">
            <div class="carousel-item">スレッド1</div>
            <div class="carousel-item">スレッド2</div>
            <div class="carousel-item">スレッド3</div>
            <div class="carousel-item">スレッド4</div>
            <div class="carousel-item">スレッド5</div>
            <div class="carousel-item">スレッド6</div>
            <div class="carousel-item">スレッド7</div>
            <div class="carousel-item">スレッド1</div>
            <div class="carousel-item">スレッド2</div>
            <div class="carousel-item">スレッド3</div>
            <div class="carousel-item">スレッド4</div>
            <div class="carousel-item">スレッド5</div>
            <div class="carousel-item">スレッド6</div>
            <div class="carousel-item">スレッド7</div>
        </div>
    </div>

    <h2>ニュース</h2>
    <div class="news-section">
        内容は順次追加予定です
    </div>
</div>
{% endblock %}
